[Unit]
Description=Arduino Web Debugging
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/python3 /home/pi/debug_arduino.py

[Install]
WantedBy=multi-user.target
