[Unit]
Description=Ping local ip to external source
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=15
User=root
ExecStart=/bin/bash /home/pi/exredirect.sh

[Install]
WantedBy=multi-user.target
