[Unit]
Description=Satellite-Tracker
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/python3 /home/pi/n2yo/main3.py

[Install]
WantedBy=multi-user.target
