[Unit]
Description=APRS-Tracker
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/bin/python3 /home/pi/aprs/track-aprs.py

[Install]
WantedBy=multi-user.target
