[Unit]
Description=ISS-Tracker Node Interface
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/bin/node /home/pi/node/index.js

[Install]
WantedBy=multi-user.target
