[Unit]
Description=ISS-Tracker
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/bin/python3 /home/pi/n2yo/mainNode.py

[Install]
WantedBy=multi-user.target
